In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

class SME():

    def __init__(self):
        self.asked = 0
        self.df = self.get()

    def get(self):
        X_train = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final3/X_train.csv')
        y_train = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final3/y_train.csv')

        X_train['Left'] = y_train
        return X_train

    def ask(self, gender, distance, years_worked, hire_date, prev_salary, current_salary, dep_code):
        self.asked += 1
        #  print(self.asked)

        if self.asked > 500:
            raise Exception("Sorry, you have asked enough")

        result = self.df.query(f"Gender=={gender} and Distance=='{distance}' and YearsWorked == {years_worked} and HireDate == '{hire_date}' and PreviousSalary == '{prev_salary}' and Salary == '{current_salary}' and DepartmentCode == {dep_code}")

        return result['Left'][0]

In [3]:
SME()

In [6]:
X_train = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final3/X_train.csv')
X_test = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final3/X_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final3/y_test.csv')

In [29]:
import pandas as pd

# Assuming X_train is your original DataFrame containing training data

# Randomly sample 500 rows from X_train
X_train_sample = X_train.sample(n=500, random_state=42)  # Adjust random_state for reproducibility

# Now X_train_sample contains 500 randomly selected rows from X_train

In [30]:
X_train_sample

,Gender,Distance,YearsWorked,HireDate,PreviousSalary,Salary,DepartmentCode
970,1,~15miles,11,2005-07-12,65K,66K,5
6279,0,~15miles,6,2005-12-28,62K,64K,2
1859,0,~10miles,11,2002-10-31,60K,62K,1
6803,1,<5mile,8,2006-07-09,58K,60K,5
6305,0,~15miles,7,2014-05-15,60K,62K,7
...,...,...,...,...,...,...,...
4945,0,>30miles,5,2013-03-24,62K,64K,2
3519,1,~20miles,6,2011-10-22,58K,60K,6
5437,0,>30miles,7,2000-10-24,56K,58K,1
2589,0,~15miles,7,2004-06-05,57K,59K,2
4700,0,~20miles,5,2009-08-28,64K,64K,3

In [31]:
import pandas as pd

# Define your SME class with the get() and ask() methods
class SME:
    def __init__(self):
        self.asked = 0
        self.df = self.get_data()  # Load your data (X_train and y_train) here

    def get_data(self):
        # Load your X_train and y_train data from the provided URLs
        X_train_url = 'https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final3/X_train.csv'
        y_train_url = 'https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final3/y_train.csv'
        
        X_train = pd.read_csv(X_train_url)
        y_train = pd.read_csv(y_train_url)
        
        # Merge X_train and y_train on some common identifier (e.g., index or ID column)
        X_train['Left'] = y_train['Left']  # Assuming 'Left' is your label column
        return X_train

    def ask(self, gender, distance, years_worked, hire_date, prev_salary, current_salary, dep_code):
        # Query your SME for labels based on input features
        # Implement your querying logic here using self.df
        # For example:
        query_result = self.df.query(f"Gender == {gender} and Distance == '{distance}' and YearsWorked == {years_worked} and HireDate == '{hire_date}' and PreviousSalary == '{prev_salary}' and Salary == '{current_salary}' and DepartmentCode == {dep_code}")
        
        if not query_result.empty:
            # Return the label from the query result (assuming 'Left' column is your label)
            return query_result.iloc[0]['Left']
        else:
            return None  # Handle case where no match is found

# Instantiate your SME class
sme = SME()

# Assuming X_train_sample is your DataFrame containing 500 randomly selected rows
# Load or create X_train_sample DataFrame here

# Iterate over each row in X_train_sample to query SME for labels
table_labels = []
for index, row in X_train_sample.iterrows():
    try:
        # Extract features from the row
        gender = row['Gender']
        distance = row['Distance']
        years_worked = row['YearsWorked']
        hire_date = row['HireDate']
        prev_salary = row['PreviousSalary']
        current_salary = row['Salary']
        dep_code = row['DepartmentCode']
        
        # Query SME for label
        label = sme.ask(gender, distance, years_worked, hire_date, prev_salary, current_salary, dep_code)
        
        # Append the row with the predicted label to table_labels
        row_with_label = row.copy()
        row_with_label['Label'] = label
        table_labels.append(row_with_label)
    except Exception as e:
        print(f"Error querying SME for row {index}: {e}")

# Create a DataFrame from table_labels
table_labels_df = pd.DataFrame(table_labels)

# Now table_labels_df contains X_train_sample with predicted labels from SME
print(table_labels_df)

      Gender  Distance  YearsWorked    HireDate PreviousSalary Salary  \
970        1  ~15miles           11  2005-07-12            65K    66K
6279       0  ~15miles            6  2005-12-28            62K    64K
1859       0  ~10miles           11  2002-10-31            60K    62K
6803       1    <5mile            8  2006-07-09            58K    60K
6305       0  ~15miles            7  2014-05-15            60K    62K
...      ...       ...          ...         ...            ...    ...
4945       0  >30miles            5  2013-03-24            62K    64K
3519       1  ~20miles            6  2011-10-22            58K    60K
5437       0  >30miles            7  2000-10-24            56K    58K
2589       0  ~15miles            7  2004-06-05            57K    59K
4700       0  ~20miles            5  2009-08-28            64K    64K

      DepartmentCode  Label
970                5    0.0
6279               2    0.0
1859               1    0.0
6803               5    0.0
6305               7    0.0
...              ...    ...
4945               2    1.0
3519               6    0.0
5437               1    1.0
2589               2    0.0
4700               3    1.0

[500 rows x 8 columns]

In [32]:
table_labels_df.isna().sum()

Gender            0
Distance          1
YearsWorked       0
HireDate          0
PreviousSalary    0
Salary            0
DepartmentCode    0
Label             1
dtype: int64

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# Load the DataFrame with labels
# Assuming table_labels_df contains the DataFrame with features and labels

def convert_salary(df, columns):
    for col in columns:
        df[col] = df[col].apply(lambda x: float(x.replace('K', '')) * 1000 if 'K' in x else float(x))
    return df

columns_to_convert = ['PreviousSalary', 'Salary']
table_labels_df = convert_salary(table_labels_df, columns_to_convert)

# Define categorical and numerical features (assuming 'Distance' and 'DepartmentCode' are categorical)
categorical_features = ['Distance', 'DepartmentCode','Gender']
numerical_features = ['YearsWorked', 'PreviousSalary', 'Salary']

table_labels_df

,Gender,Distance,YearsWorked,HireDate,PreviousSalary,Salary,DepartmentCode,Label
970,1,~15miles,11,2005-07-12,65000.0,66000.0,5,0.0
6279,0,~15miles,6,2005-12-28,62000.0,64000.0,2,0.0
1859,0,~10miles,11,2002-10-31,60000.0,62000.0,1,0.0
6803,1,<5mile,8,2006-07-09,58000.0,60000.0,5,0.0
6305,0,~15miles,7,2014-05-15,60000.0,62000.0,7,0.0
...,...,...,...,...,...,...,...,...
4945,0,>30miles,5,2013-03-24,62000.0,64000.0,2,1.0
3519,1,~20miles,6,2011-10-22,58000.0,60000.0,6,0.0
5437,0,>30miles,7,2000-10-24,56000.0,58000.0,1,1.0
2589,0,~15miles,7,2004-06-05,57000.0,59000.0,2,0.0
4700,0,~20miles,5,2009-08-28,64000.0,64000.0,3,1.0

In [36]:
table_labels_df.isna().sum()

Gender            0
Distance          0
YearsWorked       0
HireDate          0
PreviousSalary    0
Salary            0
DepartmentCode    0
Label             1
dtype: int64

In [37]:
categorical_features = ['Distance', 'DepartmentCode','Gender']
numerical_features = ['YearsWorked', 'PreviousSalary', 'Salary','Label']

In [51]:
numerical_imputer = SimpleImputer(strategy='median')
table_labels_df[numerical_features] = numerical_imputer.fit_transform(table_labels_df[numerical_features])
categorical_imputer = SimpleImputer(strategy='most_frequent')
table_labels_df[categorical_features] = categorical_imputer.fit_transform(table_labels_df[categorical_features])

table_labels_df_encoded = pd.get_dummies(table_labels_df, columns=categorical_features)
# Separate features (X) and target variable (y)
X = table_labels_df_encoded.drop(columns=['Label','HireDate'])  # Features
y = table_labels_df_encoded['Label']  # Target variable

In [53]:

# Choose a classification model
model = RandomForestClassifier()  # Change to the desired model (e.g., LogisticRegression, SVC)

# Create a pipeline with preprocessing and the chosen model
pipeline = Pipeline([
    ('classifier', model)
])

# Perform cross-validation (5-fold cross-validation) to evaluate the model
cv_scores = cross_val_score(pipeline, X, y, cv=5, scoring='accuracy')

# Print the accuracies obtained from cross-validation
print("Cross-Validation Accuracies:")
for fold_idx, accuracy in enumerate(cv_scores, start=1):
    print(f"Fold {fold_idx}: {accuracy:.4f}")

# Calculate and print the mean accuracy and standard deviation of cross-validation scores
mean_accuracy = cv_scores.mean()
std_accuracy = cv_scores.std()
print(f"\nMean Accuracy: {mean_accuracy:.4f} (+/- {std_accuracy:.4f})")

Cross-Validation Accuracies:
Fold 1: 0.9700
Fold 2: 0.8900
Fold 3: 0.9300
Fold 4: 0.9000
Fold 5: 0.9200

Mean Accuracy: 0.9220 (+/- 0.0279)

In [55]:
# Define models to evaluate
models = [
    ('Random Forest', RandomForestClassifier()),
    ('Logistic Regression', LogisticRegression()),
    ('Support Vector Machine', SVC())
]

# Evaluate each model using cross-validation
results = []
for name, model in models:
    pipeline = Pipeline([
        ('classifier', model)
    ])
    
    # Perform cross-validation (5-fold cross-validation)
    cv_scores = cross_val_score(pipeline, X, y, cv=5, scoring='accuracy')
    
    # Calculate mean and standard deviation of cross-validation scores
    mean_accuracy = cv_scores.mean()
    std_accuracy = cv_scores.std()
    
    # Store results
    results.append({
        'Model': name,
        'Mean Accuracy': mean_accuracy,
        'Std Deviation': std_accuracy
    })

# Display results and identify the best model based on mean accuracy
results_df = pd.DataFrame(results)
print("Model Evaluation Results:")
print(results_df)

# Identify the best model based on mean accuracy
best_model = results_df.loc[results_df['Mean Accuracy'].idxmax()]
print("\nBest Model:")
print(best_model)

Model Evaluation Results:
                    Model  Mean Accuracy  Std Deviation
0           Random Forest          0.922       0.027857
1     Logistic Regression          0.786       0.085697
2  Support Vector Machine          0.720       0.000000

Best Model:
Model            Random Forest
Mean Accuracy            0.922
Std Deviation         0.027857
Name: 0, dtype: object

In [71]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Assuming X_train_encoded is your DataFrame containing the encoded features
# and y_train is the corresponding target variable (labels)
# X_train_encoded and y_train should be defined accordingly based on your data

# Initialize the RandomForestRegressor
model1 = RandomForestRegressor()

# Fit the model on the training data
model1.fit(X,y)

RandomForestRegressor()

In [85]:
X_train

,Gender,Distance,YearsWorked,HireDate,PreviousSalary,Salary,DepartmentCode
0,0,~20miles,8.0,2007-09-05,63000.0,66000.0,3
1,0,>30miles,7.0,2011-10-16,60000.0,63000.0,3
2,0,~15miles,7.0,2011-05-18,59000.0,60000.0,3
3,1,<5mile,3.0,2000-06-30,60000.0,61000.0,2
4,1,~10miles,9.0,2010-04-28,56000.0,57000.0,7
...,...,...,...,...,...,...,...
7495,0,>30miles,5.0,2014-03-15,60000.0,62000.0,6
7496,0,~10miles,7.0,2011-07-10,64000.0,68000.0,3
7497,0,~10miles,8.0,2006-08-19,56000.0,57000.0,2
7498,0,~20miles,6.0,2016-09-18,60000.0,62000.0,5
7499,0,~20miles,5.0,2013-12-26,57000.0,58000.0,7

In [59]:
numerical_features = ['YearsWorked', 'PreviousSalary', 'Salary']

In [62]:
def convert_salary(df, columns):
    for col in columns:
        df[col] = df[col].apply(lambda x: float(x.replace('K', '')) * 1000 if 'K' in x else float(x))
    return df

columns_to_convert = ['PreviousSalary', 'Salary']
X_train = convert_salary(X_train, columns_to_convert)

In [86]:
X_train

,Gender,Distance,YearsWorked,HireDate,PreviousSalary,Salary,DepartmentCode
0,0,~20miles,8.0,2007-09-05,63000.0,66000.0,3
1,0,>30miles,7.0,2011-10-16,60000.0,63000.0,3
2,0,~15miles,7.0,2011-05-18,59000.0,60000.0,3
3,1,<5mile,3.0,2000-06-30,60000.0,61000.0,2
4,1,~10miles,9.0,2010-04-28,56000.0,57000.0,7
...,...,...,...,...,...,...,...
7495,0,>30miles,5.0,2014-03-15,60000.0,62000.0,6
7496,0,~10miles,7.0,2011-07-10,64000.0,68000.0,3
7497,0,~10miles,8.0,2006-08-19,56000.0,57000.0,2
7498,0,~20miles,6.0,2016-09-18,60000.0,62000.0,5
7499,0,~20miles,5.0,2013-12-26,57000.0,58000.0,7

In [89]:
numerical_imputer = SimpleImputer(strategy='median')
X_train[numerical_features] = numerical_imputer.fit_transform(X_train[numerical_features])
categorical_imputer = SimpleImputer(strategy='most_frequent')
X_train[categorical_features] = categorical_imputer.fit_transform(X_train[categorical_features])
X_train_encoded = pd.get_dummies(X_train, columns=categorical_features)

In [91]:
X_train_encoded

,YearsWorked,HireDate,PreviousSalary,Salary,Distance_<5mile,Distance_>30miles,Distance_~10miles,Distance_~15miles,Distance_~20miles,DepartmentCode_1,DepartmentCode_2,DepartmentCode_3,DepartmentCode_5,DepartmentCode_6,DepartmentCode_7,Gender_0,Gender_1
0,8.0,2007-09-05,63000.0,66000.0,False,False,False,False,True,False,False,True,False,False,False,True,False
1,7.0,2011-10-16,60000.0,63000.0,False,True,False,False,False,False,False,True,False,False,False,True,False
2,7.0,2011-05-18,59000.0,60000.0,False,False,False,True,False,False,False,True,False,False,False,True,False
3,3.0,2000-06-30,60000.0,61000.0,True,False,False,False,False,False,True,False,False,False,False,False,True
4,9.0,2010-04-28,56000.0,57000.0,False,False,True,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,5.0,2014-03-15,60000.0,62000.0,False,True,False,False,False,False,False,False,False,True,False,True,False
7496,7.0,2011-07-10,64000.0,68000.0,False,False,True,False,False,False,False,True,False,False,False,True,False
7497,8.0,2006-08-19,56000.0,57000.0,False,False,True,False,False,False,True,False,False,False,False,True,False
7498,6.0,2016-09-18,60000.0,62000.0,False,False,False,False,True,False,False,False,True,False,False,True,False
7499,5.0,2013-12-26,57000.0,58000.0,False,False,False,False,True,False,False,False,False,False,True,True,False

In [93]:
X_train_encoded  = X_train_encoded.drop('HireDate',axis=1)

KeyError: "['HireDate'] not found in axis"

In [94]:
X_train_encoded

,YearsWorked,PreviousSalary,Salary,Distance_<5mile,Distance_>30miles,Distance_~10miles,Distance_~15miles,Distance_~20miles,DepartmentCode_1,DepartmentCode_2,DepartmentCode_3,DepartmentCode_5,DepartmentCode_6,DepartmentCode_7,Gender_0,Gender_1
0,8.0,63000.0,66000.0,False,False,False,False,True,False,False,True,False,False,False,True,False
1,7.0,60000.0,63000.0,False,True,False,False,False,False,False,True,False,False,False,True,False
2,7.0,59000.0,60000.0,False,False,False,True,False,False,False,True,False,False,False,True,False
3,3.0,60000.0,61000.0,True,False,False,False,False,False,True,False,False,False,False,False,True
4,9.0,56000.0,57000.0,False,False,True,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,5.0,60000.0,62000.0,False,True,False,False,False,False,False,False,False,True,False,True,False
7496,7.0,64000.0,68000.0,False,False,True,False,False,False,False,True,False,False,False,True,False
7497,8.0,56000.0,57000.0,False,False,True,False,False,False,True,False,False,False,False,True,False
7498,6.0,60000.0,62000.0,False,False,False,False,True,False,False,False,True,False,False,True,False
7499,5.0,57000.0,58000.0,False,False,False,False,True,False,False,False,False,False,True,True,False

In [95]:
# Assuming you have already trained RandomForestRegressor model named 'regressor'

# Predict the values using the trained RandomForestRegressor
y_train_pred = model1.predict(X_train_encoded)

# Store the predicted values into y_train DataFrame
y_train = pd.DataFrame({'Predicted_Label': y_train_pred})

# Export y_train to a CSV file
y_train.to_csv('predicted_labels.csv', index=False)

In [96]:
y_train

      Predicted_Label
0                0.89
1                1.00
2                0.00
3                0.12
4                0.05
...               ...
7495             0.88
7496             0.00
7497             0.05
7498             0.98
7499             0.97

[7500 rows x 1 columns]